<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <link href="https://uploads-ssl.webflow.com/5911c9453963fd7f6719341a/5afec8a473db464a3fb89b22_favicon-32.jpg" rel="shortcut icon" type="image/x-icon"/>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"
            crossorigin="anonymous"
        >
        <title>Wejo Portal</title>
    </head>

    <body>
        <div id="wejo-root"></div>
        <script src="/index.js"></script>
        <script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>
        <script>
          document.body.addEventListener('touchstart', function() {}, {capture: true});
        </script>
    </body>

</html>